
{{!-- <div style="color:#fff;">
	this is from data model
	{{#each model as |alarm|}}
		Wake up time: {{alarm.wakeuptime}}<br/>
		Bedtime: {{alarm.bedtime}}<br/>
		BLuelight: {{alarm.bluelight}}<br/>
	{{/each}}

</div> --}}

<h3>{{alarmTime}} {{bedTime}}</h3>
{{#if displayAlarmTime}}
	
	<div class="row">
		
	</div>
	<p style="min-height:2px;"></p>

	<div class="row alarmlist">
		
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				{{#if alarm}}
					<h3>{{alarmTime}}</h3>
				{{else}}
					<h3>6: 00 <span>A.M.</span></h3>
				{{/if}}
				
				
				{{!-- <h3>{{alarmSetTime}}</h3> --}}
				<p>Wakeup Alarm</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				{{#if wakeupalarm}}
					<button class="btn btn-success alarmbtn" {{action "offWakeAlarm"}}>ON</button>
				{{else}}
					
					<button class="btn btn-danger alarmbtn" {{action "onWakeAlarm"}}>OFF</button>
				{{/if}}

				<button class="btn btn-primary alarmbtn" {{action 'editWakeup'}} > Edit </button>
				
			</div>



	</div>
	<p style="min-height:2px;"></p>

	<div class="row alarmlist">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				{{#if reminder}}
					<h3>{{alarmTime}}</h3>
				{{else}}
					<h3>8: 30 <span>P.M.</span></h3>
				{{/if}}

				<p>Bedtime Reminder</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			{{#if bedtimereminder}}
				<button class="btn btn-success alarmbtn" {{action "offBedAlarm"}}>ON</button>
			{{else}}
				
				<button class="btn btn-danger alarmbtn" {{action "onBedAlarm"}}>OFF</button>
			{{/if}}
			
			<button class="btn btn-primary alarmbtn" {{action 'editBedtime'}} > Edit </button>
		</div>
	</div>

{{else if editwakeupAlarm}}
	<div class="row justify-content-md-center alarm">
	<div class="col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
	<div class="col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
	<div class="col-md-7 col-sm-7 col-xs-7">
		<h3>Set wakeup alarm </h3>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
</div>

<div class="row">&nbsp; </div>

<div class="row">
	<div>
		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="selectHour" as |xs|}}
					<option disabled=true selected=true>Hour</option>
					{{#xs.option value=1}} 1 {{/xs.option}}
					{{#xs.option value=2}} 2 {{/xs.option}}
					{{#xs.option value=3}} 3 {{/xs.option}}
					{{#xs.option value=4}} 4 {{/xs.option}}
					{{#xs.option value=5}} 5 {{/xs.option}}
					{{#xs.option value=6}} 6 {{/xs.option}}
					{{#xs.option value=7}} 7 {{/xs.option}}
					{{#xs.option value=8}} 8 {{/xs.option}}
					{{#xs.option value=9}} 9 {{/xs.option}}
					{{#xs.option value=10}} 10 {{/xs.option}}
					{{#xs.option value=11}} 11 {{/xs.option}}
					{{#xs.option value=12}} 12 {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="minutes" as |xs|}}
					<option disabled=true selected=true>Minute</option>
					{{#xs.option value=1}} 1 {{/xs.option}}
					{{#xs.option value=2}} 2 {{/xs.option}}
					{{#xs.option value=3}} 3 {{/xs.option}}
					{{#xs.option value=4}} 4 {{/xs.option}}
					{{#xs.option value=5}} 5 {{/xs.option}}
					{{#xs.option value=6}} 6 {{/xs.option}}
					{{#xs.option value=7}} 7 {{/xs.option}}
					{{#xs.option value=8}} 8 {{/xs.option}}
					{{#xs.option value=9}} 9 {{/xs.option}}
					{{#xs.option value=10}} 10 {{/xs.option}}
					{{#xs.option value=11}} 11 {{/xs.option}}
					{{#xs.option value=12}} 12 {{/xs.option}}
					{{#xs.option value=13}} 13 {{/xs.option}}
					{{#xs.option value=14}} 14 {{/xs.option}}
					{{#xs.option value=15}} 15 {{/xs.option}}
					{{#xs.option value=16}} 16 {{/xs.option}}
					{{#xs.option value=17}} 17 {{/xs.option}}
					{{#xs.option value=18}} 18 {{/xs.option}}
					{{#xs.option value=19}} 19 {{/xs.option}}
					{{#xs.option value=20}} 20 {{/xs.option}}
					{{#xs.option value=21}} 21 {{/xs.option}}
					{{#xs.option value=22}} 22 {{/xs.option}}
					{{#xs.option value=23}} 23 {{/xs.option}}
					{{#xs.option value=24}} 24 {{/xs.option}}
					{{#xs.option value=25}} 25 {{/xs.option}}
					{{#xs.option value=26}} 26 {{/xs.option}}
					{{#xs.option value=27}} 27 {{/xs.option}}
					{{#xs.option value=28}} 28 {{/xs.option}}
					{{#xs.option value=29}} 29 {{/xs.option}}
					{{#xs.option value=30}} 30 {{/xs.option}}
					{{#xs.option value=31}} 31 {{/xs.option}}
					{{#xs.option value=32}} 32 {{/xs.option}}
					{{#xs.option value=33}} 33 {{/xs.option}}
					{{#xs.option value=44}} 34 {{/xs.option}}
					{{#xs.option value=35}} 35 {{/xs.option}}
					{{#xs.option value=36}} 36 {{/xs.option}}
					{{#xs.option value=37}} 37 {{/xs.option}}
					{{#xs.option value=38}} 38 {{/xs.option}}
					{{#xs.option value=39}} 39 {{/xs.option}}
					{{#xs.option value=40}} 41 {{/xs.option}}
					{{#xs.option value=41}} 42 {{/xs.option}}
					{{#xs.option value=43}} 43 {{/xs.option}}
					{{#xs.option value=44}} 44 {{/xs.option}}
					{{#xs.option value=45}} 45 {{/xs.option}}
					{{#xs.option value=46}} 46 {{/xs.option}}
					{{#xs.option value=47}}  47 {{/xs.option}}
					{{#xs.option value=48}} 48 {{/xs.option}}
					{{#xs.option value=49}} 49 {{/xs.option}}
					{{#xs.option value=50}} 51 {{/xs.option}}
					{{#xs.option value=52}} 52 {{/xs.option}}
					{{#xs.option value=53}} 53 {{/xs.option}}
					{{#xs.option value=54}} 54 {{/xs.option}}
					{{#xs.option value=55}} 55 {{/xs.option}}
					{{#xs.option value=56}} 56 {{/xs.option}}
					{{#xs.option value=57}} 57 {{/xs.option}}
					{{#xs.option value=58}} 58 {{/xs.option}}
					{{#xs.option value=59}} 59 {{/xs.option}}
					{{#xs.option value=60}} 60 {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="dayTime" as |xs|}}
					{{#xs.option value='AM'}} AM {{/xs.option}}
					{{#xs.option value='PM'}} PM {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

	</div>

	
</div>

<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-4"></div>
	<div class="col-md-4 col-sm-4 col-xs-4">
		<button class="btn btn-success btn-block" {{action "setAlarm"}}>Set Alarm</button>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4"></div>
</div>


{{else if editbedTimeReminder}}
		<div class="row justify-content-md-center alarm">
	<div class="col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
	<div class="col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
	<div class="col-md-7 col-sm-7 col-xs-7">
		<h3>Set bedtime reminder</h3>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
</div>

<div class="row">&nbsp; </div>

<div class="row">
	<div>
		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="selectHour" as |xs|}}
					<option disabled=true selected=true>Hour</option>
					{{#xs.option value=1}} 1 {{/xs.option}}
					{{#xs.option value=2}} 2 {{/xs.option}}
					{{#xs.option value=3}} 3 {{/xs.option}}
					{{#xs.option value=4}} 4 {{/xs.option}}
					{{#xs.option value=5}} 5 {{/xs.option}}
					{{#xs.option value=6}} 6 {{/xs.option}}
					{{#xs.option value=7}} 7 {{/xs.option}}
					{{#xs.option value=8}} 8 {{/xs.option}}
					{{#xs.option value=9}} 9 {{/xs.option}}
					{{#xs.option value=10}} 10 {{/xs.option}}
					{{#xs.option value=11}} 11 {{/xs.option}}
					{{#xs.option value=12}} 12 {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="minutes" as |xs|}}
					<option disabled=true selected=true>Minute</option>
					{{#xs.option value=1}} 1 {{/xs.option}}
					{{#xs.option value=2}} 2 {{/xs.option}}
					{{#xs.option value=3}} 3 {{/xs.option}}
					{{#xs.option value=4}} 4 {{/xs.option}}
					{{#xs.option value=5}} 5 {{/xs.option}}
					{{#xs.option value=6}} 6 {{/xs.option}}
					{{#xs.option value=7}} 7 {{/xs.option}}
					{{#xs.option value=8}} 8 {{/xs.option}}
					{{#xs.option value=9}} 9 {{/xs.option}}
					{{#xs.option value=10}} 10 {{/xs.option}}
					{{#xs.option value=11}} 11 {{/xs.option}}
					{{#xs.option value=12}} 12 {{/xs.option}}
					{{#xs.option value=13}} 13 {{/xs.option}}
					{{#xs.option value=14}} 14 {{/xs.option}}
					{{#xs.option value=15}} 15 {{/xs.option}}
					{{#xs.option value=16}} 16 {{/xs.option}}
					{{#xs.option value=17}} 17 {{/xs.option}}
					{{#xs.option value=18}} 18 {{/xs.option}}
					{{#xs.option value=19}} 19 {{/xs.option}}
					{{#xs.option value=20}} 20 {{/xs.option}}
					{{#xs.option value=21}} 21 {{/xs.option}}
					{{#xs.option value=22}} 22 {{/xs.option}}
					{{#xs.option value=23}} 23 {{/xs.option}}
					{{#xs.option value=24}} 24 {{/xs.option}}
					{{#xs.option value=25}} 25 {{/xs.option}}
					{{#xs.option value=26}} 26 {{/xs.option}}
					{{#xs.option value=27}} 27 {{/xs.option}}
					{{#xs.option value=28}} 28 {{/xs.option}}
					{{#xs.option value=29}} 29 {{/xs.option}}
					{{#xs.option value=30}} 30 {{/xs.option}}
					{{#xs.option value=31}} 31 {{/xs.option}}
					{{#xs.option value=32}} 32 {{/xs.option}}
					{{#xs.option value=33}} 33 {{/xs.option}}
					{{#xs.option value=44}} 34 {{/xs.option}}
					{{#xs.option value=35}} 35 {{/xs.option}}
					{{#xs.option value=36}} 36 {{/xs.option}}
					{{#xs.option value=37}} 37 {{/xs.option}}
					{{#xs.option value=38}} 38 {{/xs.option}}
					{{#xs.option value=39}} 39 {{/xs.option}}
					{{#xs.option value=40}} 41 {{/xs.option}}
					{{#xs.option value=41}} 42 {{/xs.option}}
					{{#xs.option value=43}} 43 {{/xs.option}}
					{{#xs.option value=44}} 44 {{/xs.option}}
					{{#xs.option value=45}} 45 {{/xs.option}}
					{{#xs.option value=46}} 46 {{/xs.option}}
					{{#xs.option value=47}}  47 {{/xs.option}}
					{{#xs.option value=48}} 48 {{/xs.option}}
					{{#xs.option value=49}} 49 {{/xs.option}}
					{{#xs.option value=50}} 51 {{/xs.option}}
					{{#xs.option value=52}} 52 {{/xs.option}}
					{{#xs.option value=53}} 53 {{/xs.option}}
					{{#xs.option value=54}} 54 {{/xs.option}}
					{{#xs.option value=55}} 55 {{/xs.option}}
					{{#xs.option value=56}} 56 {{/xs.option}}
					{{#xs.option value=57}} 57 {{/xs.option}}
					{{#xs.option value=58}} 58 {{/xs.option}}
					{{#xs.option value=59}} 59 {{/xs.option}}
					{{#xs.option value=60}} 60 {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 col-xs-4">
				{{#x-select class="selectbox form-control reg-input-field" action="dayTime" as |xs|}}
					{{#xs.option value='AM'}} AM {{/xs.option}}
					{{#xs.option value='PM'}} PM {{/xs.option}}
				{{/x-select}}
			</div>
		</div>

	</div>

	
</div>

<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-4"></div>
	<div class="col-md-4 col-sm-4 col-xs-4">
		<button class="btn btn-success btn-block" {{action "setReminder"}}>Set Alarm</button>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4"></div>
</div>





{{else}}

	<div class="row">
		
	</div>
	<p style="min-height:2px;"></p>

	<div class="row alarmlist">
		
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				
					<h3>6: 00 <span>A.M.</span></h3>
				
				
				
				{{!-- <h3>{{alarmSetTime}}</h3> --}}
				<p>Wakeup Alarm</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				{{#if wakeupalarm}}
					<button class="btn btn-success alarmbtn" {{action "offWakeAlarm"}}>ON</button>
				{{else}}
					
					<button class="btn btn-danger alarmbtn" {{action "onWakeAlarm"}}>OFF</button>
				{{/if}}

				<button class="btn btn-primary alarmbtn" {{action 'editWakeup'}} > Edit </button>
				
			</div>



	</div>
	<p style="min-height:2px;"></p>

	<div class="row alarmlist">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				
					<h3>8: 30 <span>P.M.</span></h3>
			
			<p>Bedtime Reminder</p>
			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			{{#if bedtimereminder}}
				<button class="btn btn-success alarmbtn" {{action "offBedAlarm"}}>ON</button>
			{{else}}
				
				<button class="btn btn-danger alarmbtn" {{action "onBedAlarm"}}>OFF</button>
			{{/if}}
			
			<button class="btn btn-primary alarmbtn" {{action 'editBedtime'}} > Edit </button>
		</div>
	</div>

{{/if}}