<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h3 class="center">Math questions</h3>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		
	</div>

	<div class="clean"></div>
	<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<label>{{first}} + {{second}} = </label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				{{input class="form-control" type="text" value=inputSum placeholder="Your answer"}}
				
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				{{#if addError}}
					<span class="glyphicon glyphicon-remove" style="color:#ff0000;"></span>
				{{else}}
					<span class="glyphicon glyphicon-ok" style="color:#00ff00;"></span>
				{{/if}}
			</div>
			
		
	</div>

	<div class="clean"></div>

	<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<label>{{third}} * {{fifth}} = </label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				{{input class="form-control" type="text" value=inputMul placeholder="Your answer"}}
				
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				{{#if mulError}}
					<span class="glyphicon glyphicon-remove" style="color:#ff0000;"></span>
				{{else}}
					<span class="glyphicon glyphicon-ok" style="color:#00ff00;"></span>
				{{/if}}
			</div>
			
		
	</div>

	<div class="clean"></div>

	<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<label>{{sixth}} - {{seventh}} = </label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				{{input class="form-control" type="text" value=inputSub placeholder="Your answer"}}
				
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				{{#if subError}}
					<span class="glyphicon glyphicon-remove" style="color:#ff0000;"></span>
				{{else}}
					<span class="glyphicon glyphicon-ok" style="color:#00ff00;"></span>
				{{/if}}
			</div>
			
		
	</div>
	<div class="clean"></div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
		<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
			{{#link-to 'gamelists'}}<button class="btn btn-block btn-primary">Done</button>{{/link-to}}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
		
	</div>