<form>
<div class="row alarmlist">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <h3> <input type="radio"	name="alarmsound" value="guitar" style="width:20px; height:20px;" /> 
			 	<span class="margin-left:30px;"> &nbsp; </span>Ticking clock
			 	{{#if pausesound}}
			 		<a href="" {{action 'play'}} style="width: 20px; float:right;"><span class="glyphicon glyphicon-play"></span></a>
			 	{{else}}
			 	 	<a href="" {{action 'pause'}} style="width: 20px; float:right;"><span class="glyphicon glyphicon-pause"></span></a>
			 	 {{/if}}
			 </h3>
		</div>
</div>
<div class="row">&nbsp;</div>
<div class="row alarmlist">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><input type="radio"	name="alarmsound" value="german" style="width:20px; height:20px;"/> 
				<span class="margin-left:30px;"> &nbsp; </span>German shepherd 
				{{#if pausegermanshep}}
			 		<a href="" {{action 'playgerman'}} style="width: 20px; float:right;" ><span class="glyphicon glyphicon-play"></span></a>
			 	{{else}}
			 	 	<a href="" {{action 'pausegerman'}} style="width: 20px; float:right;"><span class="glyphicon glyphicon-pause"></span></a>
			 	 {{/if}}

			</h3>
		</div>
</div>
<div class="row">&nbsp;</div>
<div class="row alarmlist">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><input type="radio"	name="alarmsound" value="gunshot" style="width:20px; height:20px;"/>
			<span class="margin-left:30px;"> &nbsp; </span> Gunshot
				{{#if pausegunshot}}
			 		<a href="" {{action 'playgun'}} style="width: 20px; float:right;" ><span class="glyphicon glyphicon-play"></span></a>
			 	{{else}}
			 	 	<a href="" {{action 'pausegun'}} style="width: 20px; float:right;"><span class="glyphicon glyphicon-pause"></span></a>
			 	 {{/if}}
			</h3>
		</div>
</div>
<div class="row">&nbsp;</div>
	{{#link-to 'alarms'}}<button class="btn btn-primary btn-block">Select</button>{{/link-to}}
</form>
